.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    gap: 30px;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.container-logo img {
    width: 150px;
}

.logo-text {
    font-size: 22px;
    color: #333;
    font-family: var(--title-font);
    font-weight: 800;
}

.nav-links ul {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.btn-bars {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.btn-bars i {
    font-size: 24px;
    color: #363636;
}

.menu-responsive {
    transition: all 0.5s;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-responsive.active {
    left: 0;
}

.menu-responsive ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-responsive li {
    list-style: none;
}

.menu-responsive a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

.menu-responsive a:hover {
    color: var(--primary-color);
}

.container-logo-responsive {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.container-logo-responsive img {
    width: 70px;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-close i {
    color: #333;
    font-size: 24px;
}

@media (max-width: 1024px) {
    .btn-bars {
        display: block;
    }

    .nav-links ul {
        display: none;
    }

    .header {
        padding: 30px 20px;
    }
}

@media (max-width: 768px) {
    .container-logo img {
        width: 50px;
    }

    .logo-text {
        font-size: 20px;
    }
}