:root {
    --primary-color: #ff6b00;
    --title-font: 'Montserrat', sans-serif;
}

.hero-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 60px 10%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    animation: fadeInUp 1s ease-out both;
}

.content {
    flex: 1 1 500px;
    min-width: 300px;
}

.content span {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
}

.content h1 {
    font-size: 32px;
    font-weight: 800;
    margin: 20px 0;
    line-height: 1.2;
    font-family: var(--title-font);
    color: #333;
}

.content p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    max-width: 85%;
}

.buttons-hero-banner {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}

.btn-banner-primary,
.btn-banner-secondary {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-banner-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.btn-banner-primary:hover {
    background-color: #e85a00;
}

.btn-banner-secondary {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.btn-banner-secondary:hover {
    background-color: var(--primary-color);
    color: white;
}

.container-images-banner {
    flex: 1 1 500px;
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

/* Imagen principal */
.container-main-image {
    position: relative;
    width: 100%;

}

.container-main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

/* Imágenes flotantes */
.container-images-banner > img {
    position: absolute;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Posicionamiento flotante */
.container-images-banner > img:nth-of-type(1) {
    position: absolute;
    top: 5%;
    left: -10%;
    width: 120px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.container-images-banner > img:nth-of-type(2) {
    position: absolute;
    top: 5%;
    right: -10%;
    width: 120px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.container-images-banner > img:nth-of-type(3) {
    position: absolute;
    bottom: 5%;
    left: -10%;
    width: 120px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}


.container-images-banner > img:nth-of-type(4) {
    position: absolute;
    bottom: 5%;
    right: -10%;
    width: 120px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsive */
@media (max-width: 768px) {
    .hero-banner {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        
    }

    .content {
        text-align: center;
        order: 1;
    }

    .content h1 {
        font-size: 28px;
        line-height: 1.2;
    }

    .content p {
        width: 100%;
        margin: 0 auto;
    }

    .buttons-hero-banner {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .buttons-hero-banner a {
        width: 100%;
        max-width: 250px;
    }

    .container-images-banner {
        order: 2;
        margin-top: 40px;
        position: relative;
    }

    .container-images-banner > img {
        width: 100px;
        height: 150px;
        border-radius: 12px;
        object-fit: cover;
    }

    .main-image {
        height: 100px;
    }

    .container-main-image img {
        margin-top: 135px;
        border-radius: 12px;
    }
}

/* Section about */
.section-about{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
    gap: 50px;
    animation: fadeInUp 1s ease-out both;

    
}

.container-img1{
    flex: 1.5;
    padding: 10px 100px;
}

.container-img1 img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 35px;
}

.content-about{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    
}

.content-about span{
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
}
.content-about p{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    width: 600px;
    margin-top: 30px;


}

.content-about ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    margin-top: 50px;
}

.content-about li{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;

}

.container-icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.container-icon1 i{
    font-size: 14px;
    color: #fff;
}


.section-about a{
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: none;
    text-transform: capitalize;
    color: #201d2e;
    border: 2px solid var(--primary-color);
}

.section-about a:hover{
    background-color: var(--primary-color);
    color: #fff;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive para móviles (hasta 768px) */
@media (max-width: 768px) {
    .section-about {
        flex-direction: column;
        gap: 30px;
        animation: fadeInUp 1s ease-out both;
        margin-top: auto;
    }

    .container-img1 {
        width: 100%;
        padding: 0 30px;
        order: 2;
    }

    .container-img1 img {
        height: 400px;
    }

    .content-about {
        padding: 0 30px;
        animation: fadeInUp 1s ease-out both;
        animation-delay: 0.2s;
    }

    .content-about span {
        font-size: 16px;
    }

    .content-about p {
        width: 100%;
    }

    .content-about ul {
        gap: 10px;
    }

    .section-about a {
        animation: fadeInUp 1s ease-out both;
        animation-delay: 0.4s;
    }
}

/* Responsive para tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding: 40px 20px;
        animation: fadeInUp 1s ease-out both;
    }

    .container-img1 {
        padding: 0 40px;
    }

    .container-img1 img {
        height: 400px;
    }

    .content-about {
        padding: 0 40px;
        align-items: center;
        animation: fadeInUp 1s ease-out both;
        animation-delay: 0.2s;
    }

    .content-about h2.title {
        font-size: 22px;
    }

    .content-about p {
        width: 100%;
    }

    .content-about ul {
        align-items: center;
    }

    .section-about a {
        align-self: center;
        animation: fadeInUp 1s ease-out both;
        animation-delay: 0.4s;
    }
}


/******TOP DESTINOS******/
.section-top-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    animation: fadeInUp 1s ease-out both;
}

.section-top-destination p {
    font-size: 14px;
    line-height: 1.5;
    width: 50%;
    color: #333;
    text-align: center;

}

@media (max-width: 768px) {
    .section-top-destination p {
        width: 90%;
        animation: fadeInUp 1s ease-out both;
    }
}

@media (max-width: 480px) {
    .section-top-destination p {
        width: 80%;
    }
}

.container-destination{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    gap: 30px;
    align-self:stretch;
    padding: 0 80px; /* agrega espacio horizontal dentro del contenedor */
    box-sizing: border-box;

}

.card-destination {
    height: 300px;
    border-radius: 20px;
}

.content-card{
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    color: #fff;
}

.location{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.location i{
    font-size: 14px;
    margin-left: 10px;
    color: var(--primary-color);
}

.location h3{
    font-family: var(--title-font);
    font-weight: 500;
    color: #fff;
    font-size: 24px;
}

.footer-card-destiation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-background-1 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.548) 20%,
        rgba(0, 0, 0, 0.237) 80%
    ),
    url('../img/peñol.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-background-2 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.485) 20%,
        rgba(0, 0, 0, 0) 80%
    ),
    url('../img/pueblito-paisa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.img-background-3 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 20%,
        rgba(0, 0, 0, 0) 80%
    ),
    url('../img/jardin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

@media (max-width: 1024px) {
    .container-destination {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .container-destination {
        grid-template-columns:1fr;
    }
}

/****** SECTION SERVICES******/

.section-tours{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 50px;
    align-items: center;
    
}

.section-tours h2{
    width: 50%;
    text-align: center;
}

.section-tours p{
    font-size: 14px;
    width: 50%;
    text-align: center;
    line-height: 1.6;
    color: #333;

}

@media (max-width: 768px) {
    .section-tours h2,
    .section-tours p {
        width: 80%;
    }
}

.container-card-tours{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
    padding: 0 80px; /* agrega espacio horizontal dentro del contenedor */
    box-sizing: border-box;
    width: 100%;
}

.card-tour{
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    height: 500px;
}

.container-img{
    position: relative;

}

.container-img img{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}



.container-icon i{
    color: var(--primary-color);
}

.container-icon:hover {
    background-color: var(--primary-color);
    
}

.container-icon:hover i {
    color: #fff;
}

.container-card-tours content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 30px;
}

.location2{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 800;

}

.location2 i{
    color: var(--primary-color);
    margin-right: 5px;
    margin-left: 5px;

}

.content2 h3{
    
    font-size: 16px;
    font-weight: 800;
    text-align:left;
    margin-top: 8px;
    margin-left: 10px;
}
.img-tour{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.7; /* imagen más opaca por defecto */
    transition: opacity 0.4s ease-in-out; /* animación suave */
}

.img-tour:hover {
    opacity: 1; /* vuelve a su color normal al pasar el cursor */
}

@media(max-width: 1024px) {
    .container-card-tours {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px; /* reduce el padding horizontal */
    }
}

@media(max-width: 768px) {
    .container-card-tours {
        grid-template-columns: 1fr;
    }

    .card-tour {
        
        gap: 15px;
    }

    .content2{
        flex: 1;
        padding: 10px;
        align-self: center;

    }

    .section-tours h2{
        width: 90%;
    }
}

